[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-openai = "*"
langchainhub = "*"
langchain = "*"
python-dotenv = "*"
langchain-ollama = "*"
langsmith = "*"
requests = "*"
linkedin-api = "*"
duckduckgo-search = "*"
langchain-community = "*"
termcolor = "*"
flask = "*"
black = "*"
gradio = "*"

[dev-packages]

[requires]
python_version = "3.12"
